extends default

block header

block content
  div.spotPage
    div.spotPage-image(style=`background: url('/images/${spot.imgSrc}') top center
    no-repeat; background-size: cover;`)
    div.spotPage-details
      h1.spotPage-name
        | #{spot.title} 
      h3.spotPage-location
        | #{spot.location}
      h3.spotPage-price
        | #{spot.price}
      p.spotPage-description
        | #{spot.description}
      a.button.button-contact(href=`${spot.contact}`)
        | Contact Owner